html
{
  height: 100%;
}

body
{
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;

  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;

  background-color: #1E1E1E;
  color: whitesmoke;
  cursor: default;
}
