html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;;

  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;

  background-color: #fdf6e3;
  color: #586e75;
  cursor: default;

  font-size: 16px;

  display: flex;
  flex-direction: column;
}


body.theme_dark {
  background-color:  #002b36;
}


a, input, textarea {
  color: #4c6a72;
}

::placeholder {
  color: #4c6a72;
}
