.statusbar {
  font-size: 75%;
  line-height: 20px;

  position: relative;

  box-sizing: border-box;
  height: 20px;
  margin-top: -20px;
  padding: 0 5px;

  color: rgb(74,91,103);
  background-color: rgb(28, 31,38);
}
