.statusbar {
  font-size: .65em;
  line-height: 20px;

  position: relative;

  box-sizing: border-box;
  height: 20px;
  margin-top: -20px;
  padding: 0 7px;

  color: #4c6a72;
  background-color: #00222b;
}
