doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Meepo
    link(rel='stylesheet', href='css/project.css')
  body.theme_dark
    +head
    .splitview
      .splitview__panel.splitview__panel_editor
        +editor
      .splitview__panel.splitview__panel_right
    +statusbar

    script(src='/channel/bcsocket.js')
    script(src='js/index.js')
