doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Meepo
    link(rel='stylesheet', href='css/project.css')
  body
    +head
    .splitview
      .splitview__panel.splitview__panel_editor
      .splitview__panel.splitview__panel_right
    +statusbar
    //- +button('Позже', false)
  //- +button('etet')
  //- +button('Привязать vk.com', true)
    .grid
      .grid__cell.grid__cell_shadowed_yes
        +editor
      .grid__cell.grid__cell_fixed_yes
        .tabs
          +tab('Online:', true)
            +user-list
          +tab('Settings:', false)
            +setting
