mixin newProject
  .newproject__form
    h1 Create new project
    form(action='/new-project', method="post")
      div.form__input
        p.form__error #{error}
        input(type='text', name='projectname', placeholder='Project Name')
      div.form__input
        textarea(name='description', placeholder='Description')
      div.form__input
         +button('Create', true)
