.form__input {
  padding: 10px 0;
}

.form__input input[type=text] {
  font-size: .9em;
  line-height: 1em;

  height: 1.3em;
  padding: 2px;

  transition: border-color .3s ease;

  border: 1px solid #839496;
  border-radius: 3px;
  background-color: transparent;
}

.form__input textarea {
  font-size: .9em;
  line-height: 1em;

  width: 80%;
  max-width: 100%;
  height: 150px;

  border: 1px solid #839496;
  border-radius: 3px;
  background-color: transparent;
}

.form__input label {
  margin-right: 8px;

  text-align: left;
}

.form__error {
  font-size: .8em;

  margin: 5px 0;
}

.projects__list {
  overflow: auto;

  margin: 0;
  padding: 0;
  height: inherit;

  list-style: none;
}
