mixin head
  .head
    .head__left
      .head__title Meepo
      .head__menu
        a(href='/setting') Setting
    .head__right
      .head__user.user__name
      a.head__user.user__logout(href='/logout') Logout

