mixin head
  .head
    .head__left
      .head__title Meepo
      .head__menu
        a(href='/setting') Setting
    .head__user
      .user.user__name Vasya
      a.user.user__logout(href='/logout') Logout

