mixin setting
  .setting__panel
    p
      | Use soft tabs
      input#useSoftTabs.setting__checkbox(type='checkbox', checked='checked')
    p
      | Line numbers
      input#setShowGutter.setting__checkbox(type='checkbox', checked='checked')
    p
      | Use word wrapping
      input#setUseWrapMode.setting__checkbox(type='checkbox')
    p
      | Show print margin
      input#setShowPrintMargin.setting__checkbox(type='checkbox', checked='checked')
    p
      | Highlight active line
      input#setHighlightActiveLine.setting__checkbox(type='checkbox', checked='checked')
    p
      | Show invisibles
      input#setShowInvisibles.setting__checkbox(type='checkbox', checked='checked')
    p.with-select
      | Font
      select#setFontSize.setting__select
        option(value='10px') 10px
        option(value='11px') 11px
        option(value='12px', selected='selected') 12px
        option(value='14px') 14px
        option(value='16px') 16px
        option(value='20px') 20px
        option(value='24px') 24px
    p.with-select
      | Tab size
      select#setTabSize.setting__select
        option(value='2') 2 chars
        option(value='4') 4 chars
        option(value='8') 8 chars

