doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Meepo
    link(rel='stylesheet', href='css/index.css')
  body.theme_dark
    +head
    .splitview
      .splitview__panel.splitview__panel_editor
        +editor
      .splitview__panel.splitview__panel_right
        .tabs
          +tab('Online:', true)
            +user-list
          +tab('Settings:', false)
            +setting
    +statusbar

    script(src='/channel/bcsocket.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/annyang/1.4.0/annyang.min.js')
    script(src='js/index.js')
