.user {
  font-size: 13px;
  line-height: 13px;

  position: relative;

  overflow: hidden;

  padding: 18px 5px 10px 36px;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.user__color {
  position: absolute;
  top: 17px;
  left: 10px;

  display: block;

  box-sizing: border-box;
  width: 16px;
  height: 16px;
  margin: 0;

  border-radius: 4px;
}
