doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Meepo
    link(rel='stylesheet', href='css/signin.css')
  body.theme_dark
    +head(true, true, false)
    +form('/local-auth', 'Sign in')
