#ace-editor {
  position: absolute;

  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.ace_marker-layer {
  z-index: 8!important;
}

.ace_marker_caret {
  width: 2px;
}

.ace_marker_top {
  height: 5px;
  width: 6px;

  margin-left: -2px;
  margin-top: -2px;
}

.ace_marker_name {
  display: none;
  opacity: 1;

  padding: 2px;
  margin-left: -2px;
  font-size: 10px;

  color: #fff;
  z-index: 99;
}
.ace_marker_showname {
  opacity: .1;

  border-radius: 30px;
  pointer-events: auto;

  height: 35px;
  width: 35px;

  margin-left: -16px;
  margin-top: -11px;
}
.ace_marker_showname:hover + .ace_marker_name{
  display: block;
  opacity: 1;
}
