.grid
{
    display: flex;

    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 20px;
}

.grid__cell
{
    width: 100%;

    background-color: #002b36;
}

.grid__cell_fixed_yes
{
    width: 200px;

    background-color: #002630;
}

.grid__cell_shadowed_yes
{
    position: relative;

    padding: 5px;

    box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
}
