doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Meepo
    link(rel='stylesheet', href='css/signup.css')
  body.theme_dark
    +head(true, false, true)
    +form('/local-reg', 'Sign up')
