.tabs {
  height: 100%;
}

.tab {
  height: 100%;
}

.tab__handle {
  height: 40px;
  line-height: 40px;

  padding: 0 15px;

  background-color: #001e25;

  font-weight: 600;
  letter-spacing: .7px;
}

.tab__display_hidden {
  display: none;
}
