mixin form(action, butName)
  .form__wrap
    .form
      h1.form__title= butName
      form(action=action, method="post")
        div.form__input
          p.form__error #{error}
          label Username:
          input(type='text', name='username')
        div.form__input
          label Password:
          input(type='password', name='password')
        div.form__input
          +button(butName)
