.form__wrap {
  display: flex;

  height: 100%;

  align-items: center;
  justify-content: center;
}

.form {
  padding: 30px;

  text-align: center;

  border-radius: 6px;
  box-shadow: 0 0 32px rgba(76, 106, 114, .46);
}

.theme_dark .form {
  background-color: #00222b;
}

.form__title {
  font-size: 1.8em;

  margin: 3px 0 20px 0;
}

.form__error {
  font-size: .8em;
}

.form__input {
  padding: 10px 20px;
}

.form__input input {
  font-size: .9em;
  line-height: 1em;

  height: 14px;
  padding: 2px;

  transition: border-color .3s ease;

  border: 1px solid #839496;
  border-radius: 3px;
  background-color: transparent;
}

.form__input label {
  font-size: 1em;
  line-height: 1.1em;

  display: inline-block;

  min-width: 150px;
  height: 18px;
  margin-right: 33px;

  text-align: left;
}
